/* CUSTOM-PROPS */
:root {
  --text-color: #83869a;
  --title-color: #13183f;
  --grey-color: #666CA3;
  --text-active: #FFA7C3;
  --red-active-color: #FFA7C3;
}

/* FONT-FACE */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"),
  url("../fonts/PlusJakartaSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
  url("../fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
  url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans","Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  background-color: #fff;
  color:  var(--text-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 28px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.button--dark {
  background-color: var(--title-color);
}

.button--dark:hover {
  background-color: var(--grey-color);
}

.button--dark:active {
  opacity: 0.6;
}

.button--premium {
  padding: 19px 31px 16px 32px;
  border-radius: 31.5px;
  background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);;
}

.button--premium:hover {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);;
}

.button--premium:active {
  opacity: 0.6;
}

.button--pink {
  background-image: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);;
}

.button--pink:hover {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.button--pink:active {
  opacity: 0.6;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__link {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.site-header__img {
  display: block;
  width: 112px;
  height: 28px;
}


/* HERO */
.hero__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.hero__inner {
  width: 457px;
  padding-top: 185px;
  margin-right: auto;
}

.hero__title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: var(--title-color);
}

.hero__text {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}


/* HERO-IMG-WRAPPER */
.hero__img-wrapper {
  margin-right: 55px;
  margin-top: 87px;
  position: relative;
}

.hero__img-girl {
  width: 317px;
  height: 560px;
}

.hero__img-line {
  position: absolute;
  z-index: -1;
  top: -166px;
  left: 759px;
}

.hero__info {
  padding: 20px 24px 20px 24px;
  box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
  border-radius: 15px;
  background-color: #fff;
}

.course-info {
  position: absolute;
  top: 341px;
  left: -80px;

}

.course-info__title {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
  white-space: nowrap;
}

.course-info__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: var(--title-color);
}


.members-info {
  position: absolute;
  top: 108px;
  left: 280px;
}

.members-info__title {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
  white-space: nowrap;
}

.members-info__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: var(--title-color);
}


/* PROMO */
.promo {
  padding-top: 250px;
  padding-bottom: 60px;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);;
}

.index-feature__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;

}

.index-feature__item {
  padding: 0;
  margin: 0;
  position: relative;
  width: 350px;
  padding: 64px 32px 40px 32px;
  margin-bottom: 80px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.check {
  background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.index-feature__heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
}

.index-feature__icon-wrapper {
  position: absolute;
  left: 32px;
  top: -28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);;
}

.index-feature__title {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: var(--title-color);
}

.index-feature__text {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  color: var(--text-color);
}

.index-feature__link {
  font-style: normal;
  font-weight: 700;
  color: #F74780;
  text-decoration: none;
  margin-top: auto;
}

.index-feature__link:hover {
  color: var(--red-active-color);
}

.index-feature__link:active {
  opacity: 0.6;
}

/* SITE-FOOTER */
.site-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--title-color);
}

.site-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer__link {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.site-footer__img {
  display: block;
  width: 112px;
  height: 28px;
}

